build-aux/io.github.steeb_k.Commune.Devel.json export-ignore
build-aux/io.github.steeb_k.Commune.json export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitlab export-ignore
.gitlab-ci.yml export-ignore
hooks export-ignore
.rustfmt.toml export-ignore
.typos.toml export-ignore

# The Android build scripts run in WSL from this Windows checkout, and a POSIX
# shell will not run a script with CRLF line endings.
build-aux/android/*.sh text eol=lf
